<div class="container mt-3">
  <% if current_user %>
    <div class="bookings">
    <% current_user.event_spaces.each do |space| %>
      <% space.bookings.sort_by{ |date| date.start_date }.each do |booking| %>
        <div class="booking">
          <div class='booking-left'>
            <!-- if you're using cloudinary and activestorage -->
            <% if booking.user.photo.attached? %>
              <%= cl_image_tag booking.user.photo.key, class: 'avatar-bordered'  %>
            <% end %>
            <div class="booking-info">
              <div class="booking-info-title">
                <%= space.name %>
                <%= booking.user.f_name %>
              </div>
              <div class="booking-info-details">
                <%= booking.start_date.strftime("%b. %d, %Y") %> - <%= booking.end_date.strftime("%b. %d, %Y") %>
              </div>
              </div>
          </div>
          <div class="booking-actions">
            <% if booking.pending? %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-flat-red' %>
              <% end %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-flat-accept' %>
              <% end %>
            <% else %>
              <p class='booking-tag'><%= booking.status.capitalize %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
