<div class="container mt-3">
  <% if @event_spaces.count > 1 %>
    <h4 class="">Event Spaces</h4>
  <% else %>
    <h4 class="">Event Space</h4>
  <% end %>
  <div class="bookings">
    <% @event_spaces.each do |space| %>
      <% space.bookings.sort_by{ |date| date.start_date }.each do |booking| %>
        <div class="booking">
          <div class='booking-left'>
            <!-- if you're using cloudinary and activestorage -->
            <% if booking.user.photo.attached? %>
              <%= cl_image_tag booking.user.photo.key  %>
              <% end %>
            <div class="booking-info">
              <div class="booking-info-title">
                <%= space.name %>
                <%= booking.user.f_name %>
              </div>
              <div class="booking-info-details">
                <%= booking.start_date.strftime("%b. %d, %Y") %> - <%= booking.end_date.strftime("%b. %d, %Y") %>
              </div>
              </div>
          </div>
          <div class="booking-actions">
            <% if booking.pending? %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
