<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= f.input :f_name, :label => 'First name:' %>
          <%= f.input :l_name, :label => 'Last name:'  %>
          <%= f.input :photo, as: :file %>
          <div class="modal-footer">
            <%= f.submit 'Save' %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
