<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= render 'shared/icon' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li>
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search "></i></button>
            <%= form_tag(event_spaces_path, :method => "get") do %>
              <%= search_field_tag :search, params[:search], class: "input-search", placeholder: "Type to Search..." %>
              <%# <input type="submit" style= "opacity:0; width:0"> %>
            <% end %>
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", user_dashboard_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Dashboard", user_dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: 'avatar-bordered dropdown-toggle', id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "Doug.jpg", class: 'avatar-bordered dropdown-toggle', id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Update Profile
                </button>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for current_user do |f| %>
            <%= f.input :f_name, :label => 'First name:' %>
            <%= f.input :l_name, :label => 'Last name:'  %>
            <%= f.input :photo, as: :file %>
            <div class="modal-footer">
              <%= f.submit 'Save' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
