<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478146059778-26028b07395a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2092&q=80);">
  <div class="container">
    <h1>Your perfect event.</h1>
    <p>Find the best space for your next event.</p>
  </div>
</div>
<div class="container p-3">
  <div class="row">
    <div class="card-title pt-4 my-3">
      <h2>Find unique spaces in your area</h2>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80)">Tokyo
          <%= link_to '', event_spaces_path(search: 'Tokyo'), class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560291544-515e5417bddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80)">Osaka
          <%= link_to '', event_spaces_path(search: 'Osaka'), class: 'card-link' %></div>
      </div>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">Kyoto
          <%= link_to '', event_spaces_path(search: 'Kyoto'), class: 'card-link' %></div>
      </div>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1572420780547-8fbb45c82f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80)">Sapporo
          <%= link_to '', event_spaces_path(search: 'Sapporo'), class: 'card-link' %></div>
      </div>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605088298038-2876387a80c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80)">Fukuoka
          <%= link_to '', event_spaces_path(search: 'Fukuoka'), class: 'card-link' %></div>
      </div>
    </div>
    <div class="col-4">
      <div class="city-card mb-2" data-tilt data-tilt-glare data-tilt-max-glare="1" scale:1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1647336963732-7446b9da7a6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">Naha
          <%= link_to '', event_spaces_path(search: 'Naha'), class: 'card-link' %></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class = container>
  <div class="about-us">
    <div class="about-us-title mt-3">
    </div>
  </div>
</div>
<div>
  <div class="card-holder">
    <div class="card-about" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605088298038-2876387a80c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80)">
    </div>
    <div class="card-info-about">
      <h2>Why KiSpace?</h2>
      <div class="mt-3">
        <h5 style="color: $orange;">It's Sexy</h5>
        <p>Tom thinks we have a sexy website.</p>
      </div>
      <div class="mt-3">
        <h5>Perfect spaces</h5>
        <p>Every day we uncover new, creative spaces - from neighborhood galleries to hidden rooftops and beyond.</p>
      </div>
      <div class="mt-3">
        <h5>Honest pricing</h5>
        <p>Our spaces are priced to fit your budget. Pay by the hour without worrying about hidden fees.</p>
      </div>
    </div>
  </div>
</div>
