<%= link_to '<- Back', event_spaces_index_path, class: 'btn btn-light'  %>
<div class="container">
  <div class="space-title">
    <h1><%= @event_space.name.capitalize %></h1>
  </div>
  <section id="photoArray">
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.first.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.second.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.third.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.forth.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.fifth.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
  </section>
  <div class="flex-container">
    <div class="row mt-3">
      <div class="col">
        <div class="spaces-card p-4">
          <h1><%= @event_space.location.capitalize %></h1>
          <h2>¥<%= @event_space.price %></h2>
          <p><%= @event_space.description %></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a Review</button>
        </div>
      </div>
      <div class="col">
        <div class="spaces-card p-4">
          <%= render "bookings/form" %>
        </div>
      </div>
    </div>
  </div>
  <% @event_space_reviews.each do |review| %>
    <div class="card shadow p-2 mt-2 rounded">
      <div class="card-body">
        <ul>
          <h4><%= review.comment%></h4>
          <p>Rated: <%= review.rating%> stars</p>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @event_space.name.capitalize %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "reviews/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
