<div class="container">
  <div class="space-title m-3">
    <h1><%= @event_space.name.capitalize %></h1>
  </div>
  <section id="photoArray">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>
  <div class="flex-container">
    <div class="row">
      <div class="col">
        <div class="spaces-card m-4 p-4">
          <p><%= @event_space.location.capitalize %></p>
          <p><%= @event_space.price %></p>
          <p><%= @event_space.description %></p>
        </div>
      </div>
      <div class="col">
        <div class="spaces-card m-4 p-4">
          <%= render "bookings/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
