<div class="container">
  <div class="space-title">
    <h1><%= @event_space.name %></h1>
  </div>
  <section id="photoArray">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>
  <div class="flex-container">
    <div class="card m-3">
      <p><%= @event_space.location %></p>
      <p><%= @event_space.price %></p>
      <p><%= @event_space.description %></p>
    </div>
    <div class="card m-3">
      <p><%=  %></p>
    </div>
  </div>
  <%= render "bookings/form" %>
</div>
