<%= link_to '<- Back', event_spaces_index_path, class: 'btn btn-light'  %>
<div class="container">
  <div class="space-title">
    <h1><%= @event_space.name.capitalize %></h1>
  </div>
  <section id="photoArray">
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.first.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.second.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.third.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.forth.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
    <div style="background-size: cover; background-repeat: no-repeat; background-image: url(<%=@event_space.photos.attached? ? cl_image_path(@event_space.photos.fifth.key) : "http://source.unsplash.com/featured/?#{@event_space.location}&#{rand(1000)}/450x450"%>)"> </div>
  </section>
  <div class="flex-container">
    <div class="row mt-3">
      <div class="col">
        <div class="spaces-card p-4">
          <p><%= @event_space.location.capitalize %></p>
          <p>¥<%= @event_space.price %></p>
          <p><%= @event_space.description %></p>
        </div>
      </div>
      <div class="col">
        <div class="spaces-card p-4">
          <%= render "bookings/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class ="container">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
